<%- include('partials/header') %>

<div class="jumbotron text-center">
    <div class="container">
        <i class="fas fa-user-secret fa-5x"></i>
        <h1 class="display-3">You can leave your feedback about any game!</h1>
        <p class="secret-text">Leave any feedback. No one is ordering you!</p>
        <hr>
        <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
        <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit</a>
    </div>
</div>

<%- include('partials/footer') %>