<%- include('partials/header') %>

<div class="container">
    <div class="jumbotron centered">
        <i class="fas fa-pen fa-5x"></i>
        <h1 class="display-3">Feedback</h1>
        <p class="secret-text">Anonymity of users is the primary task</p>

        <form action="/submit" method="POST">

            <div class="form-group">
                <input type="text" class="form-control text-center" name="secret" placeholder="">
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>


    </div>
</div>
<%- include('partials/footer') %>